@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i'";
@import 'mixins';

/* Reset */
* {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

img {
	border: 0;
}

/* Overall */
body {
	font-family: 'Source Sans Pro', Arial, Sans-Serif;
	font-size: 16px;
	color: #555;
	line-height: 1.75;
	background: #fff;
	overflow-x: hidden;
}

input,
textarea,
select {
	font-family: 'Source Sans Pro', Sans-Serif, Arial;
	font-size: 14px;
	color: #555;
}

label {
	font-family: 'Source Sans Pro', Sans-Serif, Arial;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #999;
	letter-spacing: 2px;
}

i {
	font-size: 14px;
}

a {
	color: #4e8ae2;
	text-decoration: none;
	@include animate();

	&:hover {
		text-decoration: underline;
		@include animate();
	}
}

.screen-reader-text {
	display: none;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none !important;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 1000px) {

	.container {
		width: 100%;
	}

}

.container.post {
	width: 810px;
}

@media all and (max-width: 810px) {

	.container.post {
		width: 100%;
	}

}

.call-to-action {
	margin-top: 40px;

	a {
		display: inline-block;
		height: 40px;
		line-height: 38px;
		font-size: 12px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		background: #111;
		box-shadow: 0px 0px 20px rgba(0,0,0,.15);
		border: 1px solid transparent;
		border-radius: 2px;
		@include animate();
		padding-left: 20px;
		padding-right: 20px;

		&:hover {
			color: #111;
			text-decoration: none;
			background: #fff;
			border: 1px solid rgba(0,0,0,.25);
			@include animate();
		}
	}
}

.section-title {
	line-height: 1;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 40px;
	margin-bottom: 20px;

	&:after {
		display: block;
		width: 100px;
		content: '';
		border-bottom: 1px solid #ddd;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}