#header {
	display: block;
	text-align: center;
	background: url(../images/header.jpg) no-repeat #111;
	background-size: cover;
	background-position: bottom center;
	overflow: hidden;
	padding-top: 80px;
	padding-bottom: 80px;

	@media all and (max-width: 650px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.particles-container {
		width: 100%;
		position: absolute !important;
		top: 0;
		left: 0;
	}

	.logo {
		display: block;
		width: 55px;
		height: 55px;
		background: url(../images/logo_transparent.png) no-repeat;
		background-size: cover;
		border-radius: 100%;
		margin-left: auto;
		margin-right: auto;

		a {
			display: block;
			width: 55px;
			height: 55px;
		}
	}

	.mast {
		h2 {
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			margin: 0;
			margin-top: 20px;

			@media all and (max-width: 650px) {
				font-size: 21px;
			}
		}

		p {
			font-size: 20px;
			font-weight: 300;
			color: #fff;
			margin: 0;
			margin-top: -5px;

			@media all and (max-width: 650px) {
				font-size: 16px;
			}
		}
	}

	&:before {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 500px;
		content: '';
		background: rgba(17,17,17,.7);
		position: absolute;
		top: 0;
		left: 0;
	}
}

body.home #header {
	padding-top: 125px;
	padding-bottom: 125px;

	@media all and (max-width: 650px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
